<!-- Navbar -->
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a href="/users" class="brand">StatMeUp</a>
      <div class="nav-collapse">
        <ul class="nav">
          <li class="active"><a href="/">Forum</a></li>
          <li><a href="/stats">Stats</a></li>
        </ul>
        <div class="nav pull-right">
          <li>
            <%= link_to 'Logged in as ' + current_user.name, '/users/edit'%>
          </li>
          <li class="divider-vertical"></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li>
                <!--<a href="/users/help">Help</a> -->
              </li>
              <li>
                <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
              </li>
          </li>
        </div>
      </div> <!-- /.navbar-collapse -->
    </div> <!--/.container-fluid -->
  </div> <!--/.navbar-inner -->
</div> <!--/.navbar-fixed-top -->

<div class="page-header">
  <div class="row-fluid">
    <div class="span8">
      <h1>Forum</h1>
    </div>
    </<div class="span4">
      <a class="btn btn-info" data-toggle="modal" href="#myModal">Ask a Question</a>
      <div class="modal hide fade" id="myModal">
        <div class="modal-header">
          <a class="close" data-dismiss="modal">x</a>
          <h3>Post Question</h3>
        </div>
        <%= form_for @post, :html => { :class => 'form-horizontal' } do |f| %>
        <div class="modal-body">
            <div class="control-group">
              <%= f.label :title, :class => 'control-label', :for => "title" %>
              <div class="controls">
                <%= f.text_field :title, :class => 'input-xlarge', :id => "title" %>
              </div> 
            </div>
            <div class="control-group">
              <%= f.label :content, :class => 'control-label', :for => "body" %>
              <div class="controls">
                <%= f.text_area :content, :class => 'input-xlarge', :rows => 6, :id => "body" %>
              </div> 
            </div>
            <%= f.hidden_field :user_id, :value => current_user.id %>
        </div>
        <div class="modal-footer">
          <%= f.submit nil, :class => 'btn btn-primary' %>
        </div>
        <% end %>
      </div> <!-- Form Ends -->
    </div>
   </div>
</div>

<div class="container">
  <!-- <div class = "center">
    <input type="text" class="search-query span4" placeholder= "Search">
  </div> -->
  <br />
    <% @posts.each do |post| %>
      <div class="well">
        <div class="page-header">
          <h1> <%= post.title %> </h1>
          <h2><small>Author: <%= User.find(post.user_id).name %></small></h2>
        </div>
        <p class= "lead"><%= post.content %></p>
        <footer class="footer"> <!-- Gotta make this better -->
          <p> <%= post.created_at.strftime("%a %B #{post.created_at.day.ordinalize}, %I:%M %p ") %> </p>
          <h2><small>Tags:  </small></h2>
          <button class="btn btn-small btn-primary">#</button>
        </footer>

        <div class="page-header">
          <h1>Comments:</h1>
        </div>
        
          <% post.comment.each do |comment| %>
            <div class="well" id="top">
              <div class="container">
                <p><%= comment.content %></p>
              </div>
              <br />
              <hr />
              <div><%= comment.created_at.strftime("%a %B #{post.created_at.day.ordinalize}, %I:%M %p ") %><h5> Author: <%= User.find(comment.user_id).name %></h5></div>
            </div>
          <% end %>
          
          <h5>Add your own comment</h5>
          <%= form_for @comment, :html => { :class => 'form-horizontal' } do |f| %>
            <fieldset>
              <%= f.text_area :content, :class => 'input-xlarge', :columns => 12, :rows => 3, :id => "textarea", :placeholder => "Add new comment"%>
            </fieldset>
            <%= f.hidden_field :user_id, :value => current_user.id %>
            <%= f.hidden_field :post_id, :value => post.id %>
            <br />
            <%= f.submit "Submit", :class => 'btn btn-info' %>
          <% end %>
      </div>
    <% end %>
    
</div>