<script type="text/javascript">
    
  // Load the Visualization API and the controls package.
  google.load('visualization', '1.0', {'packages':['controls']});
    
  // Set a callback to run when the Google Visualization API is loaded.
  google.setOnLoadCallback(drawBPDashboard);
  //google.setOnLoadCallback(drawWbcDashboard);
    
    
    
  // Callback that creates and populates a data table,
  // instantiates a dashboard, a range slider and a pie chart,
  // passes in the data and draws it.
  function drawBPDashboard() {

    //Data setup
    var data = new google.visualization.DataTable();
    data.addColumn('date', 'Date');
    data.addColumn('number', 'mmHg');

    //Data input
    /*data.addRow([new Date(2012, 0 ,1, 14, 13, 11), 120]);
    data.addRow([new Date(2012, 0 ,2, 11, 21, 31), 138]);
    data.addRow([new Date(2012, 0 ,3, 16, 3, 55), 118]);
    data.addRow([new Date(2012, 0 ,4, 12, 23, 45), 143]);
    data.addRow([new Date(2012, 0 ,5, 7, 44, 23), 124]);
    data.addRow([new Date(2012, 0 ,6, 21, 33, 58), 133]);
    data.addRow([new Date(2012, 0 ,7, 13, 14, 16), 126]);*/

    <% @bp.each do |currStat| %>
      data.addRow([new Date(<%= currStat.created_at.strftime("%Y") %>, (<%= currStat.created_at.strftime("%m") %> - 1), <%= currStat.created_at.strftime("%e") %>, <%= currStat.created_at.strftime("%k") %>, <%= currStat.created_at.strftime("%M") %>, <%= currStat.created_at.strftime("%S") %>), <%= currStat.value.to_f %>]);
    <% end %>

    //Create formatter and reformat data
    var formatter_long = new google.visualization.DateFormat({pattern: 'MMM d, yyyy  hh:mm:ss a'});
    formatter_long.format(data, 0);

    // Create a dashboard.
    var dashboard = new google.visualization.Dashboard(
      document.getElementById('dashboard_div_bp'));

    var chart = new google.visualization.ChartWrapper({
      'chartType': 'LineChart',
      'containerId': 'chart_bp',
      'options': {
        // Use the same chart area width as the control for axis alignment.
        'title':'Systolic Blood Pressure (mmHg)',
        'chartArea': {'height': '80%', 'width': '90%'},
        'legend': {'position': 'none'}
      },
      // Convert the first column from 'date' to 'string'.
      'view': {
        'columns': [   {
          'calc': function(dataTable, rowIndex) {
            return dataTable.getFormattedValue(rowIndex, 0);
          },
          'type': 'string'
        }, 1]
      }
    });

    var control = new google.visualization.ControlWrapper({
      'controlType': 'ChartRangeFilter',
      'containerId': 'control_bp',
      'options': {
        // Filter by the date axis.
        'filterColumnIndex': 0,
        'ui': {
          'chartType': 'LineChart',
          'chartOptions': {
            'chartArea': {'height': '40%', 'width': '90%'},
            'hAxis': {'baselineColor': 'none'}
          },
          // Display a single series that shows the closing value of the stock.
          // Thus, this view has two columns: the date (axis) and the stock value (line series).
          'chartView': {
            'columns': [0, 1]
          },
          // 1 hour in milliseconds = 60 * 1000 = 60,000
          'minRangeSize': 60000
        }
      },
      // Initial range: 2012-02-09 to 2012-03-20.
      'state': {'range': {'start': new Date(2013, 0, 1), 'end': new Date(2013, 4, 2)}}
      //'state': {'range': {'start': first, 'end': last}}
    });

    // Draw the dashboard.
    dashboard.bind(control, chart);
    dashboard.draw(data);
  }


  // Callback that creates and populates a data table,
  // instantiates a dashboard, a range slider and a pie chart,
  // passes in the data and draws it.
  function drawWbcDashboard() {

    //Data setup
    var data = new google.visualization.DataTable();
    data.addColumn('date', 'Date');
    data.addColumn('number', 'mmHg');

    //Data input
    data.addRow([new Date(2013, 0 ,1, 14, 13, 11), 5]);
    data.addRow([new Date(2013, 0 ,2, 11, 21, 31), 7]);
    data.addRow([new Date(2013, 0 ,3, 16, 3, 55), 3]);
    data.addRow([new Date(2013, 0 ,4, 12, 23, 45), 2]);
    data.addRow([new Date(2013, 0 ,5, 7, 44, 23), 6]);
    data.addRow([new Date(2013, 0 ,6, 21, 33, 58), 1]);
    data.addRow([new Date(2013, 0 ,7, 13, 14, 16), 8]);

    /*<% @wbc.each do |currStat| %>
      data.addRow([new Date(<%= currStat.created_at.strftime("%Y") %>, (<%= currStat.created_at.strftime("%m") %> - 1), <%= currStat.created_at.strftime("%e") %>, <%= currStat.created_at.strftime("%k") %>, <%= currStat.created_at.strftime("%M") %>, <%= currStat.created_at.strftime("%S") %>), <%= currStat.value.to_f %>]);
    <% end %>*/

    //Create formatter and reformat data
    var formatter_long = new google.visualization.DateFormat({pattern: 'MMM d, yyyy  hh:mm:ss a'});
    formatter_long.format(data, 0);

    // Create a dashboard.
    var dashboard = new google.visualization.Dashboard(
      document.getElementById('dashboard_div_wbc'));

    var chart = new google.visualization.ChartWrapper({
      'chartType': 'LineChart',
      'containerId': 'chart_wbc',
      'options': {
        // Use the same chart area width as the control for axis alignment.
        'title':'White Blood Cells (mmHg)',
        'chartArea': {'height': '80%', 'width': '90%'},
        'legend': {'position': 'none'}
      },
      // Convert the first column from 'date' to 'string'.
      'view': {
        'columns': [0, 1]
      }
    });

    var control = new google.visualization.ControlWrapper({
      'controlType': 'ChartRangeFilter',
      'containerId': 'control_wbc',
      'options': {
        // Filter by the date axis.
        'filterColumnIndex': 0,
        'ui': {
          'chartType': 'LineChart',
          'chartOptions': {
            'chartArea': {'height': '40%', 'width': '90%'},
            'hAxis': {'baselineColor': 'none'}
          },
          // Display a single series that shows the closing value of the stock.
          // Thus, this view has two columns: the date (axis) and the stock value (line series).
          'chartView': {
            'columns': [0, 1]
          },
          // 1 day in milliseconds = 24 * 60 * 60 * 1000 = 86,400,000
          'minRangeSize': 86400000
        }
      },
      // Initial range: 2012-02-09 to 2012-03-20.
      'state': {'range': {'start': new Date(2013, 0, 1), 'end': new Date(2013, 0, 8)}}
    });

    // Draw the dashboard.
    dashboard.bind(control, chart);
    dashboard.draw(data);
  }

  // Callback that creates and populates a data table,
  // instantiates a dashboard, a range slider and a pie chart,
  // passes in the data and draws it.
  function drawRbcDashboard() {

    //Data setup
    var data = new google.visualization.DataTable();
    data.addColumn('date', 'Date');
    data.addColumn('number', 'mmHg');

    //Data input
    data.addRow([new Date(2012, 0 ,1, 14, 13, 11), 5]);
    data.addRow([new Date(2012, 0 ,2, 11, 21, 31), 7]);
    data.addRow([new Date(2012, 0 ,3, 16, 3, 55), 3]);
    data.addRow([new Date(2012, 0 ,4, 12, 23, 45), 2]);
    data.addRow([new Date(2012, 0 ,5, 7, 44, 23), 6]);
    data.addRow([new Date(2012, 0 ,6, 21, 33, 58), 1]);
    data.addRow([new Date(2012, 0 ,7, 13, 14, 16), 8]);

    /*<% @rbc.each do |currStat| %>
      data.addRow([new Date(<%= currStat.created_at.strftime("%Y") %>, (<%= currStat.created_at.strftime("%m") %> - 1), <%= currStat.created_at.strftime("%e") %>, <%= currStat.created_at.strftime("%k") %>, <%= currStat.created_at.strftime("%M") %>, <%= currStat.created_at.strftime("%S") %>), <%= currStat.value.to_f %>]);
    <% end %>*/

    //Create formatter and reformat data
    var formatter_long = new google.visualization.DateFormat({pattern: 'MMM d, yyyy  hh:mm:ss a'});
    formatter_long.format(data, 0);

    // Create a dashboard.
    var dashboard = new google.visualization.Dashboard(
      document.getElementById('dashboard_div_rbc'));

    var chart = new google.visualization.ChartWrapper({
      'chartType': 'LineChart',
      'containerId': 'chart_rbc',
      'options': {
        // Use the same chart area width as the control for axis alignment.
        'title':'Red Blood Cells (mmHg)',
        'chartArea': {'height': '80%', 'width': '90%'},
        'legend': {'position': 'none'}
      },
      // Convert the first column from 'date' to 'string'.
      'view': {
        'columns': [0, 1]
      }
    });

    var control = new google.visualization.ControlWrapper({
      'controlType': 'ChartRangeFilter',
      'containerId': 'control_rbc',
      'options': {
        // Filter by the date axis.
        'filterColumnIndex': 0,
        'ui': {
          'chartType': 'LineChart',
          'chartOptions': {
            'chartArea': {'height': '40%', 'width': '90%'},
            'hAxis': {'baselineColor': 'none'}
          },
          // Display a single series that shows the closing value of the stock.
          // Thus, this view has two columns: the date (axis) and the stock value (line series).
          'chartView': {
            'columns': [0, 1]
          },
          // 1 day in milliseconds = 24 * 60 * 60 * 1000 = 86,400,000
          'minRangeSize': 86400000
        }
      },
      // Initial range: 2012-02-09 to 2012-03-20.
      'state': {'range': {'start': new Date(2012, 0, 1), 'end': new Date(2012, 0, 8)}}
    });

    // Draw the dashboard.
    dashboard.bind(control, chart);
    dashboard.draw(data);
  }
</script> 

<!-- Navbar -->
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a href="/users" class="brand">StatMeUp</a>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li><a href="/">Forum</a></li>
          <li class="active"><a href="/stats">Stats</a></li>
          <% if false %> <!-- Need to make the search feature work -->
          <form class="navbar-search" action="">
            <input type="text" class="search-query span2" placeholder="Search">
          </form>
          <% end %>
        </ul>
        <div class="nav pull-right">
          <li>
            <%= link_to 'Logged in as ' + current_user.name, '/users/edit'%>
          </li>
          <li class="divider-vertical"></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <% if current_user.admin? %>
              <li>
                  <a href="/admin">Admin</a>
              </li>
              <% end %>
              <% if false %> <!-- Need to make the help link first -->
              <li>
                <a href="/users/help">Help</a>
              </li>
              <% end %>
              <li>
                <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
              </li>
            </ul>
          </li>
        </div>
      </div> <!-- /.navbar-collapse -->
    </div> <!--/.container-fluid -->
  </div> <!--/.navbar-inner -->
</div> <!--/.navbar-fixed-top -->

<div class="tabbable">
  <ul class="nav nav-tabs">
    <li class="active">
      <a href="#bp" data-toggle="tab">Systolic Blood Pressure</a>
    </li>
    <li>
      <!--<a href="#wbc" data-toggle="tab">White Blood Cells</a>-->
      <a href="#wbc" data-toggle="tab" onClick="drawWbcDashboard()">White Blood Cells</a>
    </li>
    <li>
      <a href="#rbc" data-toggle="tab" onClick="drawRbcDashboard()">Red Blood Cells</a>
    </li>
    <li>
      <a href="#hemo" data-toggle="tab">Hemoglobin</a>
    </li>
    <li>
      <a href="#hema" data-toggle="tab">Hematocrit</a>
    </li>
    <li>
      <a href="#plate" data-toggle="tab">Platelet</a>
    </li>
    <li>
      <a href="#hr" data-toggle="tab">Heart Rate</a>
    </li>
    <li>
      <a href="#resp" data-toggle="tab">Respiration Rate</a>
    </li>
    <li>
      <a href="#temp" data-toggle="tab">Temperature</a>
    </li>
    <li>
      <a href="#o2sat" data-toggle="tab">O2 Saturation</a>
    </li>
    <li>
      <a href="#pain" data-toggle="tab">Pain</a>
    </li>
    <li>
      <a href="#weight" data-toggle="tab">Weight</a>
    </li>
  </ul>
  <div class="tab-content">
      
    <div class="tab-pane active" id="bp">
      <div class="page-header">
        <h2>Systolic Blood Pressure Stats</h2>
      </div>
      
      <div class="row-fluid">

        <div class="span2">
          <div class="page-header">
            <h2>Add Data</h2>
          </div>
          <a class="btn btn-info" data-toggle="modal" href="#myModal">Add Value</a>
          <div class="modal hide fade" id="myModal">
            <div class="modal-header">
              <a class="close" data-dismiss="modal">x</a>
              <h3>Add BP Value</h3>
            </div>
            <%= form_for @stat, :url => { :action => "create" }, :html => { :class => 'form-horizontal' } do |f| %>
            <div class="modal-body">
              <div class="control-group">
                <%= f.label :value, :class => 'control-label', :for => "val" %>
                <div class="controls">
                  <%= f.text_field :value, :class => 'input-xlarge', :id => "val", :value => (number_with_precision(f.object.value, :precision => 2) || 0) %> mmHg
                </div> 
              </div>
              <%= f.hidden_field :stat_type, :value => 1 %>
              <%= f.hidden_field :user_id, :value => current_user.id %>
            </div>
            <div class="modal-footer">
              <%= f.submit "Add data", :class => 'btn btn-primary' %>
            </div>
            <% end %>
          </div>



          <div class="page-header">
            <h2>Edit Data</h2>
          </div>
          <a class="btn btn-info" data-toggle="modal" href="#myModalEdit">Edit Value</a>
          <div class="modal hide fade" id="myModal">
            <div class="modal-header">
              <a class="close" data-dismiss="modal">x</a>
              <h3>Edit BP Value</h3>
            </div>
            <%= form_for @stat, :url => { :action => "create" }, :html => { :class => 'form-horizontal' } do |f| %>
            <div class="modal-body">
              <div class="control-group">
                <%= f.label :value, :class => 'control-label', :for => "val" %>
                <div class="controls">
                  <%= f.text_field :value, :class => 'input-xlarge', :id => "val", :value => (number_with_precision(f.object.value, :precision => 2) || 0) %> mmHg
                </div> 
              </div>
              <%= f.hidden_field :stat_type, :value => 1 %>
              <%= f.hidden_field :user_id, :value => current_user.id %>
            </div>
            <div class="modal-footer">
              <%= f.submit "Add data", :class => 'btn btn-primary' %>
            </div>
            <% end %>
          </div>



          <div class="page-header">
            <h2>Delete Data</h2>
          </div>
          <a class="btn btn-info" data-toggle="modal" href="#myModalDelete">Delete</a>
          <div class="modal hide fade" id="myModal">
            <div class="modal-header">
              <a class="close" data-dismiss="modal">x</a>
              <h3>Delete BP Value</h3>
            </div>
            <%= form_for @stat, :url => { :action => "create" }, :html => { :class => 'form-horizontal' } do |f| %>
            <div class="modal-body">
              <div class="control-group">
                <%= f.label :value, :class => 'control-label', :for => "val" %>
                <div class="controls">
                  <%= f.text_field :value, :class => 'input-xlarge', :id => "val", :value => (number_with_precision(f.object.value, :precision => 2) || 0) %> mmHg
                </div> 
              </div>
              <%= f.hidden_field :stat_type, :value => 1 %>
              <%= f.hidden_field :user_id, :value => current_user.id %>
            </div>
            <div class="modal-footer">
              <%= f.submit "Add data", :class => 'btn btn-primary' %>
            </div>
            <% end %>
          </div>
        </div>

        <div class="span7">
          <br/><br/><br/>
          <div id="dashboard_div_bp" style="height:600x;width:800px;">
            <div id="chart_bp"></div>
            <div id="control_bp"></div>
          </div>
        </div>

        <div class="span3">
          <div class="alert alert-error alert-block">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <h4>Danger</h4>
            You should something something something check <a href="#">link</a>
          </div>

          <div class="alert alert-info alert-block">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <h4>Tip</h4>
            You should blah blah blah
          </div>

          <div class="alert alert-success alert-block">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <h4>Congrats!</h4>
            You're stats look good, keep it up!
          </div>
        </div>
      
      </div>



      <div class="row-fluid">
        <div class="span4">
          <h2>Most Recent</h2>
          <table class="table table-stripped">
            <thead>
              <tr>
                <th>Time</th>
                <th>Value<th>
              </tr>
            </thead>
            <tbody>
              <% @bps.most_recent.each do |bp| %>
                <tr>
                  <td><%= bp.created_at.strftime("%b %e, %Y @ %l:%M:%S %p") %></td>
                  <td><%= bp.value%> mmHg</td>
                </tr>
             <% end %>
            </tbody>
          </table>
        </div>

        <div class="span4">
          <h2>Highest Values</h2>
          <table class="table table-stripped">
            <thead>
              <tr>
                <th>Time</th>
                <th>Value<th>
              </tr>
            </thead>
            <tbody>
              <% @bps.highest.each do |bp| %>
                <tr>
                  <td><%= bp.created_at.strftime("%b %e, %Y @ %l:%M:%S %p") %></td>
                  <td><%= bp.value%> mmHg</td>
                </tr>
             <% end %>
            </tbody>
          </table>
        </div>

        <div class="span4">
          <h2>Lowest Values</h2>
          <table class="table table-stripped">
            <thead>
              <tr>
                <th>Time</th>
                <th>Value<th>
              </tr>
            </thead>
            <tbody>
              <% @bps.lowest.each do |bp| %>
                <tr>
                  <td><%= bp.created_at.strftime("%b %e, %Y @ %l:%M:%S %p") %></td>
                  <td><%= bp.value%> mmHg</td>
                </tr>
             <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
      
    
    
    <div class="tab-pane" id="wbc">
      <div class="page-header">
        <h2>White Blood Cell Stats</h2>
      </div>

      <div class="row-fluid">

        <div class="span2">
          <div class="page-header">
            <h2>Add Data</h2>
          </div>
          <a class="btn btn-info" data-toggle="modal" href="#myModal1">Add Value</a>
          <div class="modal hide fade" id="myModal1">
            <div class="modal-header">
              <a class="close" data-dismiss="modal">x</a>
              <h3>Add WBC Value</h3>
            </div>
            <%= form_for @stat, :url => { :action => "create" }, :html => { :class => 'form-horizontal' } do |f| %>
            <div class="modal-body">
              <div class="control-group">
                <%= f.label :value, :class => 'control-label', :for => "val" %>
                <div class="controls">
                  <%= f.text_field :value, :class => 'input-xlarge', :id => "val", :value => (number_with_precision(f.object.value, :precision => 2) || 0) %> billion cells/L
                </div> 
              </div>
              <%= f.hidden_field :stat_type, :value => 2 %>
              <%= f.hidden_field :user_id, :value => current_user.id %>
            </div>
            <div class="modal-footer">
              <%= f.submit "Add data", :class => 'btn btn-primary' %>
            </div>
            <% end %>
          </div>



          <div class="page-header">
            <h2>Edit Data</h2>
          </div>
          <a class="btn btn-info" data-toggle="modal" href="#myModal1Edit">Edit Value</a>
          <div class="modal hide fade" id="myModal1Edit">
            <div class="modal-header">
              <a class="close" data-dismiss="modal">x</a>
              <h3>Edit WBC Value</h3>
            </div>
            <%= form_for @stat, :url => { :action => "create" }, :html => { :class => 'form-horizontal' } do |f| %>
            <div class="modal-body">
              <div class="control-group">
                <%= f.label :value, :class => 'control-label', :for => "val" %>
                <div class="controls">
                  <%= f.text_field :value, :class => 'input-xlarge', :id => "val", :value => (number_with_precision(f.object.value, :precision => 2) || 0) %> billion cells/L
                </div> 
              </div>
              <%= f.hidden_field :stat_type, :value => 2 %>
              <%= f.hidden_field :user_id, :value => current_user.id %>
            </div>
            <div class="modal-footer">
              <%= f.submit "Add data", :class => 'btn btn-primary' %>
            </div>
            <% end %>
          </div>



          <div class="page-header">
            <h2>Delete Data</h2>
          </div>
          <a class="btn btn-info" data-toggle="modal" href="#myModal1Delete">Delete</a>
          <div class="modal hide fade" id="myModal1Delete">
            <div class="modal-header">
              <a class="close" data-dismiss="modal">x</a>
              <h3>Delete WBC Value</h3>
            </div>
            <%= form_for @stat, :url => { :action => "create" }, :html => { :class => 'form-horizontal' } do |f| %>
            <div class="modal-body">
              <div class="control-group">
                <%= f.label :value, :class => 'control-label', :for => "val" %>
                <div class="controls">
                  <%= f.text_field :value, :class => 'input-xlarge', :id => "val", :value => (number_with_precision(f.object.value, :precision => 2) || 0) %> billion cells/L
                </div> 
              </div>
              <%= f.hidden_field :stat_type, :value => 2 %>
              <%= f.hidden_field :user_id, :value => current_user.id %>
            </div>
            <div class="modal-footer">
              <%= f.submit "Add data", :class => 'btn btn-primary' %>
            </div>
            <% end %>
          </div>
        </div>

        <div class="span7">
          <br/><br/><br/>
          <div id="dashboard_div_wbc" style="height:600x;width:800px;">
            <div id="chart_wbc"></div>
            <div id="control_wbc"></div>
          </div>
        </div>

        <div class="span3">
          <div class="alert alert-error alert-block">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <h4>Danger</h4>
            You should something something something check <a href="#">link</a>
          </div>

          <div class="alert alert-info alert-block">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <h4>Tip</h4>
            You should blah blah blah
          </div>

          <div class="alert alert-success alert-block">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <h4>Congrats!</h4>
            You're stats look good, keep it up!
          </div>
        </div>
      
      </div>



      <div class="row-fluid">
        <div class="span4">
          <h2>Most Recent</h2>
          <table class="table table-stripped">
            <thead>
              <tr>
                <th>Time</th>
                <th>Value<th>
              </tr>
            </thead>
            <tbody>
              <% @wbcs.most_recent.each do |wbc| %>
                <tr>
                  <td><%= wbc.created_at.strftime("%b %e, %Y @ %l:%M:%S %p") %></td>
                  <td><%= wbc.value%> billion cells/L</td>
                </tr>
             <% end %>
            </tbody>
          </table>
        </div>

        <div class="span4">
          <h2>Highest Values</h2>
          <table class="table table-stripped">
            <thead>
              <tr>
                <th>Time</th>
                <th>Value<th>
              </tr>
            </thead>
            <tbody>
              <% @wbcs.highest.each do |wbc| %>
                <tr>
                  <td><%= wbc.created_at.strftime("%b %e, %Y @ %l:%M:%S %p") %></td>
                  <td><%= wbc.value%> billion cells/L</td>
                </tr>
             <% end %>
            </tbody>
          </table>
        </div>

        <div class="span4">
          <h2>Lowest Values</h2>
          <table class="table table-stripped">
            <thead>
              <tr>
                <th>Time</th>
                <th>Value<th>
              </tr>
            </thead>
            <tbody>
              <% @wbcs.lowest.each do |wbc| %>
                <tr>
                  <td><%= wbc.created_at.strftime("%b %e, %Y @ %l:%M:%S %p") %></td>
                  <td><%= wbc.value%> billion cells/L</td>
                </tr>
             <% end %>
            </tbody>
          </table>
        </div>
      </div>

    </div>
    
    <div class="tab-pane" id="rbc">
      <div class="page-header">
        <h2>Red Blood Cell Stats</h2>
      </div>
      
      <div class="span3">
        <div class="page-header">
          <h2>Add Data</h2>
        </div>
        <a class="btn btn-info" data-toggle="modal" href="#myModal2">Add Value</a>
        <div class="modal hide fade" id="myModal2">
          <div class="modal-header">
            <a class="close" data-dismiss="modal">x</a>
            <h3>Add RBC Value</h3>
          </div>
          <%= form_for @stat, :url => { :action => "create" }, :html => { :class => 'form-horizontal' } do |f| %>
          <div class="modal-body">
            <div class="control-group">
              <%= f.label :value, :class => 'control-label', :for => "val" %>
              <div class="controls">
                <%= f.text_field :value, :class => 'input-xlarge', :id => "val", :value => (number_with_precision(f.object.value, :precision => 2) || 0) %> (Need Measurements)
              </div> 
            </div>
            <%= f.hidden_field :stat_type, :value => 3 %>
            <%= f.hidden_field :user_id, :value => current_user.id %>
          </div>
          <div class="modal-footer">
            <%= f.submit "Add data", :class => 'btn btn-primary' %>
          </div>
          <% end %>
        </div>
      </div>

      <div class="span14">
        <div id="dashboard_div_rbc" style="height:600x;width:800px;">
          <div id="chart_rbc"></div>
          <div id="control_rbc"></div>
        </div>
      </div>

    </div>

    <div class="tab-pane" id="hemo">
      <div class="page-header">
        <h2>Hemoglobin Stats</h2>
      </div>
      
      <div class="span3">
        <div class="page-header">
          <h2>Add Data</h2>
        </div>
        <a class="btn btn-info" data-toggle="modal" href="#myModal3">Add Value</a>
        <div class="modal hide fade" id="myModal3">
          <div class="modal-header">
            <a class="close" data-dismiss="modal">x</a>
            <h3>Add Hemoglobin Value</h3>
          </div>
          <%= form_for @stat, :url => { :action => "create" }, :html => { :class => 'form-horizontal' } do |f| %>
          <div class="modal-body">
            <div class="control-group">
              <%= f.label :value, :class => 'control-label', :for => "val" %>
              <div class="controls">
                <%= f.text_field :value, :class => 'input-xlarge', :id => "val", :value => (number_with_precision(f.object.value, :precision => 2) || 0) %> (Need Measurements)
              </div> 
            </div>
            <%= f.hidden_field :stat_type, :value => 4 %>
            <%= f.hidden_field :user_id, :value => current_user.id %>
          </div>
          <div class="modal-footer">
            <%= f.submit "Add data", :class => 'btn btn-primary' %>
          </div>
          <% end %>
        </div>
      </div>
      
    </div>
    
    <div class="tab-pane" id="hema">
      <div class="page-header">
        <h2>Hematocrit Stats</h2>
      </div>
      
      <div class="span3">
        <div class="page-header">
          <h2>Add Data</h2>
        </div>
        <a class="btn btn-info" data-toggle="modal" href="#myModal4">Add Value</a>
        <div class="modal hide fade" id="myModal4">
          <div class="modal-header">
            <a class="close" data-dismiss="modal">x</a>
            <h3>Add Hematocrit Value</h3>
          </div>
          <%= form_for @stat, :url => { :action => "create" }, :html => { :class => 'form-horizontal' } do |f| %>
          <div class="modal-body">
            <div class="control-group">
              <%= f.label :value, :class => 'control-label', :for => "val" %>
              <div class="controls">
                <%= f.text_field :value, :class => 'input-xlarge', :id => "val", :value => (number_with_precision(f.object.value, :precision => 2) || 0) %> (Need Measurements)
              </div> 
            </div>
            <%= f.hidden_field :stat_type, :value => 5 %>
            <%= f.hidden_field :user_id, :value => current_user.id %>
          </div>
          <div class="modal-footer">
            <%= f.submit "Add data", :class => 'btn btn-primary' %>
          </div>
          <% end %>
        </div>
      </div>
      
    </div>
    
    <div class="tab-pane" id="plate">
      <div class="page-header">
        <h2>Platelet Stats</h2>
      </div>
      
      <div class="span3">
        <div class="page-header">
          <h2>Add Data</h2>
        </div>
        <a class="btn btn-info" data-toggle="modal" href="#myModal5">Add Value</a>
        <div class="modal hide fade" id="myModal5">
          <div class="modal-header">
            <a class="close" data-dismiss="modal">x</a>
            <h3>Add Platelet Value</h3>
          </div>
          <%= form_for @stat, :url => { :action => "create" }, :html => { :class => 'form-horizontal' } do |f| %>
          <div class="modal-body">
            <div class="control-group">
              <%= f.label :value, :class => 'control-label', :for => "val" %>
              <div class="controls">
                <%= f.text_field :value, :class => 'input-xlarge', :id => "val", :value => (number_with_precision(f.object.value, :precision => 2) || 0) %> (Need Measurements)
              </div> 
            </div>
            <%= f.hidden_field :stat_type, :value => 6 %>
            <%= f.hidden_field :user_id, :value => current_user.id %>
          </div>
          <div class="modal-footer">
            <%= f.submit "Add data", :class => 'btn btn-primary' %>
          </div>
          <% end %>
        </div>
      </div>
      
    </div>

    <div class="tab-pane" id="hr">
      <div class="page-header">
        <h2>Heart Rate Stats</h2>
      </div>
      
      <div class="span3">
        <div class="page-header">
          <h2>Add Data</h2>
        </div>
        <a class="btn btn-info" data-toggle="modal" href="#myModal6">Add Value</a>
        <div class="modal hide fade" id="myModal6">
          <div class="modal-header">
            <a class="close" data-dismiss="modal">x</a>
            <h3>Add HR Value</h3>
          </div>
          <%= form_for @stat, :url => { :action => "create" }, :html => { :class => 'form-horizontal' } do |f| %>
          <div class="modal-body">
            <div class="control-group">
              <%= f.label :value, :class => 'control-label', :for => "val" %>
              <div class="controls">
                <%= f.text_field :value, :class => 'input-xlarge', :id => "val", :value => (number_with_precision(f.object.value, :precision => 2) || 0) %> (Need Measurements)
              </div> 
            </div>
            <%= f.hidden_field :stat_type, :value => 7 %>
            <%= f.hidden_field :user_id, :value => current_user.id %>
          </div>
          <div class="modal-footer">
            <%= f.submit "Add data", :class => 'btn btn-primary' %>
          </div>
          <% end %>
        </div>
      </div>
      
    </div>
    
    <div class="tab-pane" id="resp">
      <div class="page-header">
        <h2>Respiration Rate Stats</h2>
      </div>
      
      <div class="span3">
        <div class="page-header">
          <h2>Add Data</h2>
        </div>
        <a class="btn btn-info" data-toggle="modal" href="#myModal7">Add Value</a>
        <div class="modal hide fade" id="myModal7">
          <div class="modal-header">
            <a class="close" data-dismiss="modal">x</a>
            <h3>Add Respiration Rate Value</h3>
          </div>
          <%= form_for @stat, :url => { :action => "create" }, :html => { :class => 'form-horizontal' } do |f| %>
          <div class="modal-body">
            <div class="control-group">
              <%= f.label :value, :class => 'control-label', :for => "val" %>
              <div class="controls">
                <%= f.text_field :value, :class => 'input-xlarge', :id => "val", :value => (number_with_precision(f.object.value, :precision => 2) || 0) %> (Need Measurements)
              </div> 
            </div>
            <%= f.hidden_field :stat_type, :value => 8 %>
            <%= f.hidden_field :user_id, :value => current_user.id %>
          </div>
          <div class="modal-footer">
            <%= f.submit "Add data", :class => 'btn btn-primary' %>
          </div>
          <% end %>
        </div>
      </div>
      
    </div>
    
    <div class="tab-pane" id="temp">
      <div class="page-header">
        <h2>Temperature Stats</h2>
      </div>
      
      <div class="span3">
        <div class="page-header">
          <h2>Add Data</h2>
        </div>
        <a class="btn btn-info" data-toggle="modal" href="#myModal8">Add Value</a>
        <div class="modal hide fade" id="myModal8">
          <div class="modal-header">
            <a class="close" data-dismiss="modal">x</a>
            <h3>Add Temperature Value</h3>
          </div>
          <%= form_for @stat, :url => { :action => "create" }, :html => { :class => 'form-horizontal' } do |f| %>
          <div class="modal-body">
            <div class="control-group">
              <%= f.label :value, :class => 'control-label', :for => "val" %>
              <div class="controls">
                <%= f.text_field :value, :class => 'input-xlarge', :id => "val", :value => (number_with_precision(f.object.value, :precision => 2) || 0) %> (Need Measurements)
              </div> 
            </div>
            <%= f.hidden_field :stat_type, :value => 9 %>
            <%= f.hidden_field :user_id, :value => current_user.id %>
          </div>
          <div class="modal-footer">
            <%= f.submit "Add data", :class => 'btn btn-primary' %>
          </div>
          <% end %>
        </div>
      </div>
      
    </div>
    
    <div class="tab-pane" id="o2sat">
      <div class="page-header">
        <h2>O2 Saturation Stats</h2>
      </div>
      
      <div class="span3">
        <div class="page-header">
          <h2>Add Data</h2>
        </div>
        <a class="btn btn-info" data-toggle="modal" href="#myModal9">Add Value</a>
        <div class="modal hide fade" id="myModal9">
          <div class="modal-header">
            <a class="close" data-dismiss="modal">x</a>
            <h3>Add O2 Saturation Value</h3>
          </div>
          <%= form_for @stat, :url => { :action => "create" }, :html => { :class => 'form-horizontal' } do |f| %>
          <div class="modal-body">
            <div class="control-group">
              <%= f.label :value, :class => 'control-label', :for => "val" %>
              <div class="controls">
                <%= f.text_field :value, :class => 'input-xlarge', :id => "val", :value => (number_with_precision(f.object.value, :precision => 2) || 0) %> (Need Measurements)
              </div> 
            </div>
            <%= f.hidden_field :stat_type, :value => 10 %>
            <%= f.hidden_field :user_id, :value => current_user.id %>
          </div>
          <div class="modal-footer">
            <%= f.submit "Add data", :class => 'btn btn-primary' %>
          </div>
          <% end %>
        </div>
      </div>
      
    </div>

    <div class="tab-pane" id="pain">
      <div class="page-header">
        <h2>Pain Stats</h2>
      </div>

      <div class="span3">
        <div class="page-header">
          <h2>Add Data</h2>
        </div>
        <a class="btn btn-info" data-toggle="modal" href="#myModal10">Add Value</a>
        <div class="modal hide fade" id="myModal10">
          <div class="modal-header">
            <a class="close" data-dismiss="modal">x</a>
            <h3>Add Pain Value</h3>
          </div>
          <%= form_for @stat, :url => { :action => "create" }, :html => { :class => 'form-horizontal' } do |f| %>
          <div class="modal-body">
            <div class="control-group">
              <%= f.label :value, :class => 'control-label', :for => "val" %>
              <div class="controls">
                <%= f.text_field :value, :class => 'input-xlarge', :id => "val", :value => (number_with_precision(f.object.value, :precision => 2) || 0) %> (Need Measurements)
              </div> 
            </div>
            <%= f.hidden_field :stat_type, :value => 11 %>
            <%= f.hidden_field :user_id, :value => current_user.id %>
          </div>
          <div class="modal-footer">
            <%= f.submit "Add data", :class => 'btn btn-primary' %>
          </div>
          <% end %>
        </div>
      </div>
      
    </div>

    <div class="tab-pane" id="weight">
      <div class="page-header">
        <h2>Weight Stats</h2>
      </div>
      
      <div class="span3">
        <div class="page-header">
          <h2>Add Data</h2>
        </div>
        <a class="btn btn-info" data-toggle="modal" href="#myModal11">Add Value</a>
        <div class="modal hide fade" id="myModal11">
          <div class="modal-header">
            <a class="close" data-dismiss="modal">x</a>
            <h3>Add Weight Value</h3>
          </div>
          <%= form_for @stat, :url => { :action => "create" }, :html => { :class => 'form-horizontal' } do |f| %>
          <div class="modal-body">
            <div class="control-group">
              <%= f.label :value, :class => 'control-label', :for => "val" %>
              <div class="controls">
                <%= f.text_field :value, :class => 'input-xlarge', :id => "val", :value => (number_with_precision(f.object.value, :precision => 2) || 0) %> (Need Measurements)
              </div> 
            </div>
            <%= f.hidden_field :stat_type, :value => 12 %>
            <%= f.hidden_field :user_id, :value => current_user.id %>
          </div>
          <div class="modal-footer">
            <%= f.submit "Add data", :class => 'btn btn-primary' %>
          </div>
          <% end %>
        </div>
      </div>
      
    </div>
    
  </div>
</div>
