<!-- Navbar -->
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a href="/users" class="brand">StatMeUp</a>
      <div class="nav-collapse">
        <ul class="nav">
          <li><a href="/">Forum</a></li>
          <li class="active"><a href="/stats">Stats</a></li>
          <% if false %> <!-- Need to make the search feature work -->
          <form class="navbar-search" action="">
            <input type="text" class="search-query span2" placeholder="Search">
          </form>
          <% end %>
        </ul>
        <div class="nav pull-right">
          <li>
            <%= link_to 'Logged in as ' + current_user.name, '/users/edit'%>
          </li>
          <li class="divider-vertical"></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <% if current_user.admin? %>
              <li>
                  <a href="/admin">Admin</a>
              </li>
              <% end %>
              <% if false %> <!-- Need to make the help link first -->
              <li>
                <a href="/users/help">Help</a>
              </li>
              <% end %>
              <li>
                <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
              </li>
          </li>
        </div>
      </div> <!-- /.navbar-collapse -->
    </div> <!--/.container-fluid -->
  </div> <!--/.navbar-inner -->
</div> <!--/.navbar-fixed-top -->

<div class="page-header">
  <h1>Stats</h1>
</div>

<div class="tabbable tabs-left">
  <ul class="nav nav-tabs">
    <li class="active">
      <a href="#bp" data-toggle="tab">Blood Pressure</a>
    </li>
    <li>
      <a href="#wbc" data-toggle="tab">White Blood Cells</a>
    </li>
    <li>
      <a href="#rbc" data-toggle="tab">Red Blood Cells</a>
    </li>
    <li>
      <a href="#hemo" data-toggle="tab">Hemoglobin</a>
    </li>
    <li>
      <a href="#hema" data-toggle="tab">Hematocrit</a>
    </li>
    <li>
      <a href="#plate" data-toggle="tab">Platelete</a>
    </li>
    <li>
      <a href="#hr" data-toggle="tab">Heart Rate</a>
    </li>
    <li>
      <a href="#resp" data-toggle="tab">Respiration Rate</a>
    </li>
    <li>
      <a href="#temp" data-toggle="tab">Temperature</a>
    </li>
    <li>
      <a href="#o2sat" data-toggle="tab">O2 Saturation</a>
    </li>
    <li>
      <a href="#pain" data-toggle="tab">Pain</a>
    </li>
    <li>
      <a href="#weight" data-toggle="tab">Weight</a>
    </li>
  </ul>
  <div class="tab-content">
      
    <div class="tab-pane active" id="bp">
      <div class="page-header">
        <h2>Blood Pressure Stats</h2>
      </div>
      <div class="span3">
        <a class="btn btn-info" data-toggle="modal" href="#myModal">Add Value</a>
        <div class="modal hide fade" id="myModal">
          <div class="modal-header">
            <a class="close" data-dismiss="modal">x</a>
            <h3>Add Data Value</h3>
          </div>
          <%= form_for @stat, :html => { :class => 'form-horizontal' } do |f| %>
          <div class="modal-body">
            <div class="control-group">
              <%= f.label :value, :class => 'control-label', :for => "val" %>
              <div class="controls">
                <%= f.text_field :value, :class => 'input-xlarge', :id => "val", :value => (number_with_precision(f.object.value, :precision => 2) || 0) %> mmHg
              </div> 
            </div>
            <%= f.hidden_field :stat_type, :value => 1 %>
            <%= f.hidden_field :user_id, :value => current_user.id %>
          </div>
          <div class="modal-footer">
            <%= f.submit nil, :class => 'btn btn-primary' %>
          </div>
          <% end %>
        </div> <!-- Form Ends -->
      </div>
    </div>
    
    <div class="tab-pane" id="wbc">
      <div class="page-header">
        <h2>White Blood Cell Stats</h2>
      </div>
    </div>
    
    <div class="tab-pane" id="rbc">
      <div class="page-header">
        <h2>Red Blood Cell Stats</h2>
      </div>
    </div>

    <div class="tab-pane" id="hemo">
      <div class="page-header">
        <h2>Hemoglobin Stats</h2>
      </div>
    </div>
    
    <div class="tab-pane" id="hema">
      <div class="page-header">
        <h2>Hemoglobin Stats</h2>
      </div>
    </div>
    
    <div class="tab-pane" id="plate">
      <div class="page-header">
        <h2>Platelete Stats</h2>
      </div>
    </div>

    <div class="tab-pane" id="hr">
      <div class="page-header">
        <h2>Heart Rate Stats</h2>
      </div>
    </div>
    
    <div class="tab-pane" id="resp">
      <div class="page-header">
        <h2>Respiration Rate Stats</h2>
      </div>
    </div>
    
    <div class="tab-pane" id="temp">
      <div class="page-header">
        <h2>Temperature Stats</h2>
      </div>
    </div>
    
    <div class="tab-pane" id="o2sat">
      <div class="page-header">
        <h2>O2 Saturation Stats</h2>
      </div>
    </div>
    
    <div class="tab-pane" id="pain">
      <div class="page-header">
        <h2>Pain Stats</h2>
      </div>
    </div>

    <div class="tab-pane" id="weight">
      <div class="page-header">
        <h2>Weight Stats</h2>
      </div>
    </div>
    
  </div>
</div>
